<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.madebyzino.StockFlow.repository.mapper.ItemMapper">

    <sql id="searchConditions">
        <if test="cond.name != null and cond.name != ''">
            AND i.name LIKE CONCAT('%', #{cond.name}, '%')
        </if>
        <if test="cond.sku != null and cond.sku != ''">
            AND i.sku LIKE CONCAT('%', #{cond.sku}, '%')
        </if>
        <if test="cond.minPrice != null">
            AND i.price &gt;= #{cond.minPrice}
        </if>
        <if test="cond.maxPrice != null">
            AND i.price &lt;= #{cond.maxPrice}
        </if>
        <if test="cond.categoryId != null">
            AND c.id = #{cond.categoryId}
        </if>
    </sql>

    <select id="searchItems" resultType="com.madebyzino.StockFlow.dto.item.ItemSummaryResponse">
        SELECT
        i.id          AS itemId,
        i.name        AS itemName,
        i.sku         AS sku,
        i.price       AS price,
        c.name        AS categoryName,

        SUM(inv.quantity)  AS quantity  FROM item i
        JOIN category c ON i.category_id = c.id
        LEFT JOIN inventory inv ON inv.item_id = i.id  <where>
        <include refid="searchConditions"/>
    </where>

        GROUP BY i.id, i.name, i.sku, i.price, c.name

        <if test="cond.minQuantity != null">
            HAVING SUM(inv.quantity) &gt;= #{cond.minQuantity}
        </if>

        ORDER BY i.id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countItems" resultType="long">
        SELECT count(*)
        FROM (
        SELECT i.id
        FROM item i
        JOIN category c ON i.category_id = c.id
        LEFT JOIN inventory inv ON inv.item_id = i.id

        <where>
            <include refid="searchConditions"/>
        </where>

        GROUP BY i.id

        <if test="cond.minQuantity != null">
            HAVING SUM(inv.quantity) &gt;= #{cond.minQuantity}
        </if>
        ) AS item_count
    </select>

</mapper>