<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.madebyzino.StockFlow.repository.mapper.LocationMapper">

    <sql id="locationSearchConditions">
        <where>
            <if test="centerName != null and centerName != ''">
                AND center_name LIKE CONCAT('%', #{centerName}, '%')
            </if>
            <if test="zone != null and zone != ''">
                AND zone LIKE CONCAT('%', #{zone}, '%')
            </if>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
        </where>
    </sql>

    <select id="findLocationsByCriteria" resultType="com.madebyzino.StockFlow.entity.Location">
        SELECT *
        FROM location
        <include refid="locationSearchConditions"/>
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countLocationsByCriteria" resultType="long">
        SELECT count(*)
        FROM location
        <include refid="locationSearchConditions"/>
    </select>

</mapper>