spring:
  datasource:
    url: jdbc:mysql://localhost:3306/stockflow
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  data:
    redis:
      host: ${REDIS_HOST:127.0.0.1}
      port: ${REDIS_PORT:6379}
jwt:
  secret-b64: ${JWT_SECRET_B64:zdEdv9gHILfiJzNLXnnnQmd6A6N327sPKsYj0Mu4MZI=}
  expiration: 86400000
  refresh-expiration: 604800000


server:
  port: 8080

frontend:
  url: ${FRONTEND_URL:http://localhost:5173}

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true